body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 20px;
}

.language-selector {
    margin-bottom: 20px;
}

.language-selector label {
    font-size: 18px;
    margin-right: 10px;
}

.language-selector select {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.info {
    margin-bottom: 20px;
}

.question-box {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#debug-output {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#debug-output h3 {
    margin-top: 20px;
    color: #333;
}

#debug-output p {
    font-size: 16px;
    margin: 5px 0;
}